:root{
    --header-height: 100px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 100;
    background-color: #242424;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000;

    & > h1 {
        font-family: 'OnePiece';
        font-size: 4rem;
        margin: 0;
        padding: 1rem;
        color: #fff;
    }
}

.header > .logo{
    height: calc(var(--header-height) - 20px);
    object-fit: contain;
    margin-right: 20px;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;

    &:hover{
        background-color: #000;
        color: #fff;
    }
}

.separator{
    height: 100px;
}

@media (prefers-color-scheme: light){
    .header{
        background-color: #f2f2f2;
        color: #000;
    }
    .button{
        background-color: #fff;
        color: #000;
    }
    h1{
        color: #000 !important;
    }
}

@media screen and (max-width: 768px){
    .header{
        padding: 10px;
        flex-direction: column;
        height: auto;
    }
    .header > h1{
        display: none;
    }
    .header > .logo{
        height: calc(var(--header-height) - 20px);
    }
    .button{
        font-size: 1rem;
        margin: 10px;
    }
    .separator{
        height: 200px;
    }
}