:root{
    --header-height: 100px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 100;
    background-color: #242424;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000;

    & > h1 {
        font-family: 'OnePiece';
        font-size: 4rem;
        margin: 0;
        padding: 1rem;
        color: #fff;
    }
}

.header > .logo{
    height: calc(var(--header-height) - 20px);
    object-fit: contain;
    margin-right: 20px;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;

    &:hover{
        background-color: #000;
        color: #fff;
    }
}